<ion-view>
  <ion-content>

  	<div class="row responsive-sm">
  		<div class="col">
  			<center><h3 class="title" style="color:#4683eb;">Submit Data Location</h3></center>
  			<small><em style="color:gray;">*Choose time interval of sending data.</em></small>
	  		<div id="time_list">
		  		<ion-list>
				  <ion-radio ng-model="choice_interval.select" value="5000">5 seconds</ion-radio>
				  <ion-radio ng-model="choice_interval.select" value="10000">10 seconds</ion-radio>
				  <ion-radio ng-model="choice_interval.select" value="15000">15 seconds</ion-radio>
				  <ion-radio ng-model="choice_interval.select" value="20000">20 seconds</ion-radio>
				</ion-list>
			</div>	
			<br>
			<div>
				 <input type="hidden" id="what_long">
				<input type="hidden" id="what_lat">
			</div>
			<input type="hidden" id="shit_here">
			<input type="hidden" id="shit_here2">
			<div align="center">
		  		<button ng-click="start_submit('on')" class="button button-balanced" style="width:30%;" id="start_btn">
		  			<span class="ion-ios-paperplane-outline" data-tags="add, include, new, invite, +"></span> Start
				</button>
				&nbsp;
		  		<button ng-click="start_submit('off')" class="button button-assertive" id="stop_btn" style="width:30%;" disabled="disabled">
		  			Stop
				</button>
			</div>
		</div>
	</div>	

  </ion-content>
</ion-view>
